<div class="ad-mat-card">
  <mat-card>
    <div *ngIf="ad$ | async as ad; else loading">
      <mat-card-header>
        <mat-card-title>{{ad.adTitle}}</mat-card-title>
        <mat-card-subtitle>{{ad.adSubtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="ad-description">
          <p>{{ad.adDescription}}</p>
        </div>
        <mat-divider></mat-divider>
        <div class="ad-contact">
          <h2><mat-icon>font_download</mat-icon> Nombre de quién publica el aviso</h2>
          <p>{{ad?.adName}}</p>
          <h2><mat-icon>phone</mat-icon> Teléfono</h2>
          <p>{{ad?.adPhone}}</p>
          <h2><mat-icon>email</mat-icon> Email</h2>
          <p>{{ad?.adEmail}}</p>
        </div>
        <mat-divider></mat-divider>
        <div class="ad-actions">
          <button mat-raised-button color="primary" (click)="editAd()">
            <mat-icon>edit</mat-icon> Editar este aviso
          </button>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer>
        <button mat-raised-button color="warn" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon> Volver atrás
        </button>
      </mat-card-footer>
    </div>
    <ng-template #loading>
      <app-now-loading></app-now-loading>
    </ng-template>
  </mat-card>
</div>

