@import './../../../../../assets/scss/variables';

header {
  a {
    color: white;
    text-decoration: none;

    &.active {
      button {
        border: 1px solid white;
      }
    }
  }

  button.mat-button {
    font-size: 0.7rem;
  }
}
