@import './../../../../../assets/scss/variables/variables.scss';
header {
  a {
    color: white;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }

    &.active {
      button {
        border: 1px solid white;
      }
    }
  }

  button.mat-button {
    font-size: 0.6rem;
    padding-left:0.5rem;
    padding-right: 0.5rem;
  }

  .toolbar-brand {
    text-transform: uppercase;
    font-weight: bold;
  }

  .mat-menu {
    a {
      font-size: 0.75rem;
    }
  }
}
