<header>
  <mat-toolbar color="primary">
    <a href="#" class="toolbar-brand" [routerLink]="['/home']">
      Gestor de Recursos
    </a>
    <span class="separator"></span>
    <span *ngIf="user$ | async as user; else notLogged">
      <span *ngIf="!showMenuButton">
        <a *ngFor="let menuElement of menuElements" [routerLink]="menuElement.link" [routerLinkActive]="['active']">
          <button mat-button>
            {{menuElement.text}}
          </button>
        </a>
        <a href="#" [routerLink]="['/account']" [routerLinkActive]="['active']">
          <button mat-button>
            <mat-icon>account_circle</mat-icon> {{user?.email}}
          </button>
        </a>
        <a href="#" (click)="signOut()">
          <button mat-button>
            <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
          </button>
        </a>
      </span>

      <span *ngIf="showMenuButton">
        <button mat-button [matMenuTriggerFor]="loggedMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #loggedMenu="matMenu">
          <a mat-menu-item *ngFor="let menuElement of menuElements" [routerLink]="menuElement.link" [routerLinkActive]="['active']">
            {{menuElement.text}}
          </a>
          <mat-divider></mat-divider>
          <a mat-menu-item [routerLink]="['/account']" [routerLinkActive]="['active']">
            <mat-icon>account_circle</mat-icon> {{user?.email}}
          </a>
          <button mat-menu-item (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
          </button>
        </mat-menu>
      </span>
    </span>
    <ng-template #notLogged>
      <span *ngIf="!showMenuButton">
        <a href="#" [routerLink]="['/sign-in']" [routerLinkActive]="['active']">
          <button mat-button>
            <mat-icon>account_circle</mat-icon> Iniciar Sesión
          </button>
        </a>
        <a href="#" [routerLink]="['/register']" [routerLinkActive]="['active']">
          <button mat-button>
            <mat-icon>how_to_reg</mat-icon> Registrarse
          </button>
        </a>
      </span>
      <span *ngIf="showMenuButton">
        <button mat-button [matMenuTriggerFor]="notLoggedMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #notLoggedMenu="matMenu">
          <a mat-menu-item [routerLink]="['/sign-in']" [routerLinkActive]="['active']">
            <mat-icon>account_circle</mat-icon> Iniciar Sesión
          </a>
          <a mat-menu-item [routerLink]="['/register']" [routerLinkActive]="['active']">
            <mat-icon>how_to_reg</mat-icon> Registrarse
          </a>
        </mat-menu>
      </span>
    </ng-template>
  </mat-toolbar>
</header>
