@import "./../../../../../assets/scss/variables/variables.scss";

header {
  position: fixed;
  width: 100%;
  z-index:999;
  box-shadow: 1px 1px 5px black;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }

    &.active {
      button {
        border: 1px solid white;
      }
    }
  }

  button.mat-button {
    font-size: 0.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .toolbar-brand {
    text-transform: uppercase;
    font-weight: bold;
  }

  .mat-toolbar {
    .mat-menu-item {
      text-transform: uppercase;
    }
  }
}
