<div class="general-mat-card">
  <mat-card>
    <div *ngIf="product$ | async as product; else loading">
      <mat-card-header>
        <mat-card-title>{{product?.productName}}</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <h2>Categoría</h2>
        <p>{{product?.categoryName}}</p>
        <h2>Descripción</h2>
        <p>{{product?.productDescription}}</p>
        <button mat-raised-button color="primary" (click)="editProduct()">
          <mat-icon>edit</mat-icon> Editar este producto
        </button>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer>
        <button mat-raised-button color="warn" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon> Volver atrás
        </button>
      </mat-card-footer>
    </div>
    <ng-template #loading>
      <app-now-loading></app-now-loading>
    </ng-template>
  </mat-card>
</div>
