<div class="form-mat-card">
  <mat-card>
      <div *ngIf="categories$ | async as categories; else loading">
        <mat-card-header>
          <mat-card-title>Nuevo Producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="newProductForm" (ngSubmit)="addProduct()">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput type="text" id="productName" name="productName" formControlName="productName" />
              <mat-error *ngIf="productName.touched && productName.hasError('required')">
                <app-form-error-required></app-form-error-required>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Categoría</mat-label>
              <mat-select formControlName="categoryName">
                <mat-option *ngFor="let category of categories" [value]="category.categoryTitle">
                  {{category.categoryTitle}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="categoryName.touched && categoryName.hasError('required')">
                <app-form-error-required></app-form-error-required>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Descripción</mat-label>
              <textarea matInput id="productDescription" name="productDescription"
                formControlName="productDescription"></textarea>
              <mat-error *ngIf="productDescription.touched && productDescription.hasError('required')">
                <app-form-error-required></app-form-error-required>
              </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="newProductForm.invalid || submitted">
              <mat-icon>add</mat-icon> Añadir producto
            </button>
          </form>
          <p *ngIf="submitted">Añadiendo producto...</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
          <button mat-raised-button color="warn" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon> Volver atrás
          </button>
        </mat-card-footer>
      </div>
      <ng-template #loading>
        <app-now-loading></app-now-loading>
      </ng-template>
  </mat-card>
</div>
