.mat-card {
  width: 30%;
  margin: 0 auto;

  .mat-form-field {
    display: block;
    width: 100%;
    margin-bottom: 0.75rem;
  }

  button {
    display: block;
    width: 100%;
    text-transform: uppercase;
  }

  .mat-card-footer {
    padding: 0 1rem;
  }
}
