<header>
  <mat-toolbar color="primary">
      <a href="#" [routerLink]="['/home']">
        Gestor de Recursos
      </a>
      <span class="separator"></span>
      <span *ngIf="user$ | async as user; else notLogged">
      <a href="#">
        <button mat-button>
          <mat-icon>mail</mat-icon> {{user?.email}}
        </button>
      </a>
      <a href="#">
        <button mat-button>
          Menu <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </a>
      <a href="#" (click)="signOut()">
        <button mat-button>
          <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
        </button>
      </a>
      </span>
      <ng-template #notLogged>
        <a href="#" [routerLink]="['/sign-in']" [routerLinkActive]="['active']">
          <button mat-button>
            <mat-icon>account_circle</mat-icon> Iniciar Sesión
          </button>
        </a>
        <a href="#" [routerLink]="['/register']" [routerLinkActive]="['active']">
          <button mat-button>
            <mat-icon>how_to_reg</mat-icon> Registrarse
          </button>
        </a>
      </ng-template>
  </mat-toolbar>
</header>
