.mat-card {
  width: 30%;
  margin: 1rem auto;

  form {
    .mat-form-field {
      width: 100%;
      display: block;
      margin-bottom: 1rem;
    }

    button {
      display: block;
      text-transform: uppercase;
      width: 100%;
    }
  }
}
