<div class="general-mat-card">
  <mat-card>
      <div *ngIf="location$ | async as location; else loading">
        <mat-card-header>
          <mat-card-title>Ubicación</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <h2>Dirección</h2>
          <p>{{location?.locationDirection}}</p>
          <h2>Estado / Comuna</h2>
          <p>{{location?.locationState}}</p>
          <h2>Ciudad</h2>
          <p>{{location?.locationCity}}</p>
          <h2>País</h2>
          <p>{{location?.locationCountry}}</p>
          <button mat-raised-button color="primary" (click)="editLocation()">
            <mat-icon>edit</mat-icon> Editar esta ubicación
          </button>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
          <button mat-raised-button color="warn" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon> Volver atrás
          </button>
        </mat-card-footer>
      </div>
      <ng-template #loading>
        <app-now-loading></app-now-loading>
      </ng-template>
  </mat-card>
</div>
