.general-mat-card {
  .mat-card {
    margin: 1rem auto;

    @media screen and (max-width: 991px) {
      width: inherit;
    }

    @media screen and (min-width: 992px) {
      width: 30%;
    }

    .mat-card-title {
      text-transform: uppercase;
      font-weight: bold;
    }

    .mat-card-content {
      padding-top: 1rem;
      
      button {
        display: block;
        width: 100%;
        text-transform: uppercase;
      }
    }

    .mat-card-footer {
      padding-top: 1rem;
      margin: 1rem auto 0 auto;

      button {
        text-transform: uppercase;
      }
    }
  }
}
