.table-mat-card {
  .mat-card {
    .mat-card-header {
      .mat-card-title {
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .mat-card-content {
      width: 100%;
      padding-top: 1rem;

      .table-controls {
        width: inherit;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;

        button {
          text-transform: uppercase;
        }
      }

      table {
        width: 100%;
        font-size: 1.5rem;
      }
    }
  }
}
