<div class="auth-mat-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Resetear Contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Si se te olvidó tu contraseña, una este formulario para ingresar tu correo</p>

      <p>Se te enviará un mensaje con instrucciones para resetear tu contraseña.</p>

      <form [formGroup]="passwordResetForm" (ngSubmit)="passwordReset()">
        <mat-form-field>
          <mat-label>
            <mat-icon>email</mat-icon> Email
          </mat-label>
          <input matInput type="text" name="email" id="email" placeholder="ejemplo@mail.com" formControlName="email" />
          <mat-error *ngIf="email.touched && email.hasError('required')">
            <app-form-error-required></app-form-error-required>
          </mat-error>
          <mat-error *ngIf="email.touched && email.hasError('email')">
            <app-form-error-email></app-form-error-email>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="passwordResetForm.invalid">
          <mat-icon>mail</mat-icon> Enviar correo de reseteo
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
