<mat-card>
    <div *ngIf="user$ | async as user; else loading">
      <mat-card-header>
        <mat-card-title>Bienvenido, {{user?.email}}</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-grid-list [cols]="cols" rowHeight="100px" gutterSize="1rem">
          <mat-grid-tile *ngFor="let section of sections" colspan="1" rowspan="1" (click)="goToSection(section.link)">
            {{section.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </div>
    <ng-template #loading>
      <app-now-loading></app-now-loading>
    </ng-template>
</mat-card>
