<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div class="mat-sidenav-title">
          <h3>Mi cuenta</h3>
        </div>

        <mat-list>
          <a mat-list-item href="#" [routerLink]="['/account/profile']" [routerLinkActive]="['active']">
            <mat-icon>account_circle</mat-icon> Perfil
          </a>
          <a mat-list-item href="#" [routerLink]="['/account/settings']" [routerLinkActive]="['active']">
            <mat-icon>build</mat-icon> Configuración
          </a>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
